* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fff;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}

a:link {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
}

.cabecalho {
    position: absolute;
    top: 0px;
    height: 0px;
    margin-top: 0.8rem;
    right: 0px;
    margin-right: 1rem;
    gap: 20px;
    font-size: 0.8rem;
}

.gmail, .imagens, .apps {
   margin-top: 0.4rem;
    
}

.gmail, .imagens {
    margin-top: 0.6rem;
    color: rgba(0,0,0,.87);
}

.gmail {
    margin-right: -0.3rem;
}

.imagens {
    margin-right: 0.6rem;
    
}

.imagens:hover {
    text-decoration: underline;
}

.gmail:hover {
    text-decoration: underline;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.google {
    margin-top: 4.2rem;
    
}

.busca1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busca2 {
    width: 36.6rem;
    height: 2.9rem;
    border: 1px solid #dfe1e5;
    border-radius: 25px;;

}

.busca2:hover {
    box-shadow: 1px 1px 5px 1px #ccc;

}

.busca1 i {
    position: absolute;
}

.fa-magnifying-glass {
    padding: 16px;
    margin-left: -33.5rem;
    color: #9aa0a6;
    font-size: 14px;
}

.fa-camera {
    padding: 15px;
    margin-left: 33rem;
    color: rgb(25, 0, 255);
    cursor: pointer;
}

.fa-microphone {
    padding: 15px;
    margin-left: 28rem;
    color: rgb(25, 0, 255);
    cursor: pointer;
    
}

.fa-keyboard {
    padding: 15px;
    margin-left: 23rem;
    color: #7b7b7b;
    cursor: pointer;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 10px;

}

.pesquisa-google {
    width: 140px;
    height: 35px;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botao-sorte {
    width: 140px;
    height: 35px;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pesquisa-google:hover {
    border: 1px solid #d9d9db;
    box-shadow: 0.5px 0.5px 1px 0.5px #bec0c2;
}
    
.botao-sorte:hover {
    border: 1px solid #d9d9db;
    box-shadow: 0.5px 0.5px 1px 0.5px #bec0c2;
}

.rodape {
    margin-top: 15.5rem;
    background-color: #f2f2f2;
    text-decoration: none;
    
}

.rodape2 {
    display: flex;
    flex-direction: row;

}

.f1 {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

.f2 {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 14px 35px;
    font-size: 14px;

}

a {
    color: #70757a;
    cursor: pointer;
    
}

a:hover {
    text-decoration: underline;
}

.f3 {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
    padding: 0.9rem;
    margin-left: 36rem;
    font-size: 14px;

}
@media screen and (min-width: 801px) and (max-width: 1200px) {
    .cabecalho {
        display: flex;
        justify-content: flex-start;
        margin-right: 1rem;
    
    }

    .google {
        margin-top: 2rem;
        margin-left: 2rem;

    }   

    .botoes {
        margin-top: 2rem;
    }

    .rodape {
        margin-top: 12.2rem;
        
    }

    .rodape2 {
        margin-top: 0.65rem;
    }

    .f1 {
        padding-top: 1rem;
        font-size: 12px;
    }

    .f2 {
        font-size: 10.5px;
        padding-top: 0.1rem;
        margin-left: 3rem;
        
    }

    .f3 {
        margin-left: 5rem;
        font-size: 10.5px;
        padding-top: 0.1rem;
        
    }

}

@media screen and (min-width: 602px) and (max-width: 800px) {
    .google {
        padding-top: 0.7rem;
    }

    .botoes {
        margin-top: 1rem;
    }

    .pesquisa-google {
        width: 120px;
        height: 30px;
        font-size: 0.8rem;
    }

    .botao-sorte {
        width: 120px;
        height: 30px;
        font-size: 0.8rem;
    }

    .f1 {
        font-size: 11px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }


}

@media screen and (min-width: 481px) and (max-width: 601px) {
    .body {
        display: flex;
        flex-direction: column;
    
    }

    .cabecalho {
        margin-right: 1rem;
        
    }

    .google {
        margin-top: 2.5rem;
        margin-bottom: -0.9rem;
        
    }

    .busca2 {
        width: 26rem;
        height: 2.5rem;
    }

    .fa-magnifying-glass {
        margin-left: -23rem;
        padding: 14px;
        font-size: 12px;
    }

    .fa-keyboard {
        margin-left: 16rem;
        font-size: 14px;
        padding: 13px;
    }

    .fa-microphone {
        margin-left: 19.5rem;
        padding: 13px;
        font-size: 14px;
    
    }

    .fa-camera {
        margin-left: 23rem;
        font-size: 14px;
        padding: 13px;
    }

    .rodape {
        margin-top: 14.6rem;
    }

    .f1 {
        font-size: 11px;
        margin-left: -1rem;
    }

    .f2 {
        font-size: 10px;
        margin-left: 0.2rem;
        
    }

    .f3 {
        margin-left: -1rem;
        font-size: 10px;
    }
   
}

@media screen and (min-width: 376px) and (max-width: 480px) {
    .body {
        max-width: 100%;
        
    }

    .google {
        margin-bottom: -0.7rem;
    }

    .busca2 {
        width: 20rem;
        height: 2rem;
    }

    .fa-magnifying-glass {
        margin-left: -18rem;
        font-size: 11px;
        padding: 10px;
    }

    .fa-keyboard {
        margin-left: 10rem;
        font-size: 12px;
        padding: 12px;
    }

    .fa-microphone {
        margin-left: 14rem;
        padding: 10px;
        font-size: 14px;
    }

    .fa-camera {
        margin-left: 17.5rem;
        padding: 11px;
        font-size: 13px;
    }

    .botoes {
        margin-top: 0.8rem;
    }

    .pesquisa-google {
        width: 100px;
        height: 25px;
        font-size: 0.7rem;
    }

    .botao-sorte {
        width: 100px;
        height: 25px;
        font-size: 0.7rem;
    }

    .f1 {
        font-size: 7px;
        margin-left: -1rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        
    }

    .f2 {
        font-size: 5px;
        margin-left: 0.5rem;
        gap: 1rem;
    }

    .f3 {
        font-size: 5px;
        margin-left: -1.5rem;
        gap: 1rem;
    }
}